;loglevel=verbose
cache=.node_cache
tmp=.node_tmp
registry=https://registry.npmjs.org/
strict-ssl=true
# chromedriver_version=2.47
# chromedriver_version=LATEST
detect_chromedriver_version=true
# chromedriver_cdnurl=https://npmmirror.com/metadata
# chromedriver_cdnbinariesurl=https://npmmirror.com/binaries
