python     3.12.10
poetry     2.2.1
direnv     2.35.0
# ruby     3.1.5
ruby       3.4.7
ripgrep    14.1.0
terragrunt 0.93.9
terraform  1.14.0
act        0.2.74
awscli     2.24.4
dagger     0.15.4
direnv     2.35.0
fzf        0.60.0
gitleaks   8.23.3
glab       1.53.0
golang     1.24.0
helm       3.17.1
k9s        0.32.7
kind       0.26.0
krew       0.4.4
