[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlfluff = "*"

[dev-packages]
checkov = ">=3.2.128"
cz-conventional-gitmoji = ">=0.7.0"
pre-commit = ">=4.0.1"

[requires]
python_version = "3.12"
