[Desktop Entry]
Type=Application
Exec=/usr/bin/barrier
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=barrier
Name=barrier
Comment[en_US]=barrier
Comment=barrier
