[Desktop Entry]
Type=Application
Exec=sleep 500 && /bin/xscreensaver -nosplash
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xscreensaver
Name=xscreensaver
Comment[en_US]=xscreensaver
Comment=xscreensaver
